#cross-parent {
    background-color: black;
    display: grid;
    /* width: auto; */
    margin: auto;
}

#cross-parent > * {
    overflow: hidden;
    /* aspect-ratio: 1 / 1; */
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cross-parent > * > * {
    position: absolute;
}

.letter {

}

.num {
    left: 0.1vw;
    top: 0.1vw;
    font-weight: bold;
}

.header {
    font-weight: bold;
}

#clues {
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    /* flex-direction: row;
    /* align-content: space-evenly; */
    /* justify-content: */
}