#cross-parent {
    background-color: black;
    display: grid;
    width: calc(100vw - 15px);
    /* max-height: 100vh; */
    /* height: 640px; */
}

.cell {
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    /* font-family: monospace;  */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.letter {
    font-size: 5vw;
    position: absolute;
}

.num {
    position: absolute;
    font-size: 2vw;
    left: 0.1vw;
    top: 0.1vw;
    font-weight: bold;
}